@page
@model IndexModel
@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="text-center">
    <h1 class="display-4">Hra ze Star Wars</h1>
    <a style=" background-color: #f44336; color: white; padding: 15px 25px; text-align: center; text-decoration: none; display: inline-block;" asp-page="/Room" asp-page-handler="start">Zahaj hru</a>
</div>
